<div align="center">
  <%= will_paginate comments %> <!-- pass @comments from recipes/show.html.erb  -->
</div>

<% comments.each do |comment| %>
  <%= render(partial: "comments/comment", object: comment) %>
<% end %>

<div align="center">
  <%= will_paginate comments %> <!-- pass @comments from recipes/show.html.erb  -->
</div>